html {
    font-size: 62.5%;
    /* 1rem => 10px*/
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    /*font-size = 8/16/24/32/40/48/56/64/72/80... */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

.header__logo {
    /*marrgin-top margin-rigth margin-bottom margin-left*/
    margin: 4rem 0 4rem 7.2rem;
    text-transform: uppercase;
    font-size: 2.4rem;
}

.informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
    margin: 16rem 7.2rem;
}

.encabezado__imagen {
    width: 100%;
    object-fit: contain;
}

.informacion__cuerpo {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.cuerpo__titulo {
    font-size: 6rem;
    margin: 0;
}

.cuerpo__detalle {
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-bottom: 4rem;
}

.cuerpo__enlace {
    /*
        font-size = 8/16/24/32/40/48/56/64/72/80...
     */
    background-color: #333333;
    text-decoration: none;
    color: white;
    padding: 2.4rem 4.0rem;
    margin-top: 3.2px;
    align-self: flex-start;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    font-size: 1.4rem;
    color: #BDBDBD;
    margin: 2.4rem;
}


@media all and (max-width:980px){
    .informacion {
        gap: 13rem 6.7rem ;
        margin: 14rem 7.2rem;
    }
    .informacion__cuerpo{
        gap: 2rem;
    }
    .cuerpo__titulo{
        font-size: 4rem; 
    }
} 

@media all and (max-width:980px){
    .informacion{
        margin: 15rem 7.2rem;
        gap: 5rem;
    }
    .informacion__cuerpo{
        gap: 1.6rem;
    }
    .cuerpo__titulo{
        font-size:3.9rem ;
    }
    .cuerpo__detalle{
        font-size: 2rem;
    }
    .cuerpo__enlace{
        padding: 1.6rem 3.0rem; 
    }
}


@media all and (max-width:740px) {
    .informacion {
        margin: 10rem 6.0rem ;
        gap: 5rem ;
    }
    .informacion__cuerpo{
        
    }
    .cuerpo__titulo{
        font-size: 3.3rem;
    }
    .cuerpo__detalle{
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }
    .cuerpo__enlace{
        font-size:1.1rem ;
    }
}

@media all and (max-width:560px) {
    .header__logo{
        margin: 3rem 0 3rem 4.0rem;
        font-size: 2rem;
    }
    .informacion{
        display: block;
        gap: 2.4rem;
    }
    .informacion__cuerpo{
        margin-top: 8rem;
    }
}
@media all and (max-width:340px){
    .header__logo{
        margin: 2rem 0 2rem 3.0rem;
        font-size:1.8rem;
    }
    .informacion{
        margin: 8rem 3.2rem;
    }
    .informacion__titulo{
        font-size: 1.5rem;
    }
} 